@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 230px;
    background: #031224;
    color: aliceblue;
}
h1, .intro, .intr, button{
    font-family: 'Poppins';
    padding: 10px;
}
.intro, .intr{
    font-size: 30px;
}
#btn{
    border-radius: 25px;
    width: 320px;
    height: 70px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 25px; 
    background-color: black;
}
#btn a, #btn1 a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 60px;
}
.input{
    width: 300px; height: 70px; border-radius: 25px; margin: 40px; text-align: center; font-size: 30px;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intr{
    padding-top: 50px;
}
#btn1{
    border-radius: 25px;
    width: 620px;
    height: 70px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 25px; 
    background-color: black;
}